USE [brazucas]
GO
/****** Object:  Table [dbo].[FASE_JOGOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASE_JOGOS](
	[CODFASE] [int] NOT NULL,
	[DCRFASE] [varchar](max) NULL,
 CONSTRAINT [PK_FASE_JOGOS] PRIMARY KEY CLUSTERED 
(
	[CODFASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADO_JOGOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO_JOGOS](
	[CODESTADO] [int] NOT NULL,
	[DCRESTADO] [varchar](max) NULL,
 CONSTRAINT [PK_ESTADO_JOGOS] PRIMARY KEY CLUSTERED 
(
	[CODESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PONTUACAO]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PONTUACAO](
	[CODPONT] [int] NOT NULL,
	[DCRPONT] [varchar](max) NULL,
 CONSTRAINT [PK_PONTUACAO] PRIMARY KEY CLUSTERED 
(
	[CODPONT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIDADE_SEDE]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIDADE_SEDE](
	[CODCID] [int] NOT NULL,
	[NOMCID] [varchar](max) NULL,
	[HISTORIA] [varchar](max) NULL,
 CONSTRAINT [PK_CIDADE_SEDE] PRIMARY KEY CLUSTERED 
(
	[CODCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CODCAT] [int] NOT NULL,
	[DCRCAT] [varchar](max) NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[CODCAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_USUARIOS](
	[CODTIPUSU] [int] NOT NULL,
	[DCRTIPUSU] [varchar](max) NULL,
 CONSTRAINT [PK_TIPO_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[CODTIPUSU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SELECOES]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SELECOES](
	[CODSELE] [int] NOT NULL,
	[NOMSELE] [varchar](max) NULL,
	[NUMTITSELE] [int] NULL,
	[HISTORIA] [varchar](max) NULL,
	[ESCUDOSELE] [image] NULL,
	[RANKING] [int] NULL,
 CONSTRAINT [PK_SELECOES] PRIMARY KEY CLUSTERED 
(
	[CODSELE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSTOSVENDAS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSTOSVENDAS](
	[CODPOS] [int] NOT NULL,
	[ENDPOS] [varchar](max) NULL,
	[CODCID] [int] NULL,
	[NOME] [varchar](50) NULL,
 CONSTRAINT [PK_POSTOSVENDAS] PRIMARY KEY CLUSTERED 
(
	[CODPOS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOGOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOGOS](
	[CODJOGO] [int] NOT NULL,
	[CODFASE] [int] NULL,
	[CODESTADO] [int] NULL,
	[CODCID] [int] NULL,
	[SELECAO_A] [varchar](50) NULL,
	[SELECAO_B] [varchar](50) NULL,
	[DATJOGO] [date] NULL,
	[VENCJOGO] [varchar](50) NULL,
	[PLACARA] [int] NULL,
	[PLACARB] [int] NULL,
 CONSTRAINT [PK_JOGOS] PRIMARY KEY CLUSTERED 
(
	[CODJOGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[CODUSU] [int] NOT NULL,
	[CODTIPUSU] [int] NULL,
	[NOMUSU] [varchar](max) NULL,
	[EMAILUSU] [varchar](max) NULL,
	[SEXUSU] [varchar](1) NULL,
	[DATNASCUSU] [date] NULL,
	[LOGINUSU] [varchar](max) NULL,
	[SENHAUSU] [varchar](8) NULL,
	[CPFCNPJUSU] [numeric](18, 0) NULL,
	[TELUSU] [numeric](18, 0) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[CODUSU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RODADA]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RODADA](
	[CODRODADA] [int] NOT NULL,
	[CODFASE] [int] NULL,
 CONSTRAINT [PK_RODADA] PRIMARY KEY CLUSTERED 
(
	[CODRODADA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANKING]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANKING](
	[CODRAN] [int] NOT NULL,
	[CODUSU] [int] NULL,
	[CODRODADA] [int] NULL,
	[CODPONT] [int] NULL,
 CONSTRAINT [PK_RANKING] PRIMARY KEY CLUSTERED 
(
	[CODRAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLAO]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOLAO](
	[CODRODADA] [int] NOT NULL,
	[CODJOGO] [int] NULL,
	[CODUSU] [int] NULL,
	[VENCJOGO] [varchar](50) NULL,
	[DATAPOSTA] [date] NULL,
	[PLACARA] [int] NULL,
	[PLACARB] [int] NULL,
	[PLACAR_A] [int] NULL,
	[PLACAR_B] [int] NULL,
 CONSTRAINT [PK_BOLAO] PRIMARY KEY CLUSTERED 
(
	[CODRODADA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANUNCIOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANUNCIOS](
	[CODANUN] [int] NOT NULL,
	[CODUSU] [int] NULL,
	[CODCAT] [int] NULL,
	[CODCID] [int] NULL,
	[TITULOANUN] [varchar](max) NULL,
	[DCRANUN] [varchar](max) NULL,
	[IMAGEANUN] [image] NULL,
	[DATPOSANUN] [date] NULL,
	[DATFIMANUN] [date] NULL,
	[SITUANUN] [varchar](50) NULL,
 CONSTRAINT [PK_ANUNCIOS] PRIMARY KEY CLUSTERED 
(
	[CODANUN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTICIAS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTICIAS](
	[CODNOT] [int] NOT NULL,
	[CODUSU] [int] NULL,
	[CODCAT] [int] NULL,
	[TITULONOT] [varchar](max) NULL,
	[DCRNOT] [varchar](max) NULL,
	[IMAGENOT] [image] NULL,
	[DATPOSNOT] [date] NULL,
	[DATFIMNOT] [date] NULL,
	[SITUANOT] [varchar](max) NULL,
 CONSTRAINT [PK_NOTICIAS] PRIMARY KEY CLUSTERED 
(
	[CODNOT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMENTARIOS]    Script Date: 04/15/2013 22:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIOS](
	[CODCOM] [int] NOT NULL,
	[CODUSU] [int] NULL,
	[CODNOT] [int] NULL,
	[DCRCOM] [varchar](max) NULL,
	[DATCOM] [date] NULL,
	[SITUACOM] [varchar](max) NULL,
 CONSTRAINT [PK_COMENTARIOS] PRIMARY KEY CLUSTERED 
(
	[CODCOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_ANUNCIOS_REFERENCE_CATEGORI]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[ANUNCIOS]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIOS_REFERENCE_CATEGORI] FOREIGN KEY([CODCAT])
REFERENCES [dbo].[CATEGORIAS] ([CODCAT])
GO
ALTER TABLE [dbo].[ANUNCIOS] CHECK CONSTRAINT [FK_ANUNCIOS_REFERENCE_CATEGORI]
GO
/****** Object:  ForeignKey [FK_ANUNCIOS_REFERENCE_CIDADE_S]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[ANUNCIOS]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIOS_REFERENCE_CIDADE_S] FOREIGN KEY([CODCID])
REFERENCES [dbo].[CIDADE_SEDE] ([CODCID])
GO
ALTER TABLE [dbo].[ANUNCIOS] CHECK CONSTRAINT [FK_ANUNCIOS_REFERENCE_CIDADE_S]
GO
/****** Object:  ForeignKey [FK_ANUNCIOS_REFERENCE_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[ANUNCIOS]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIOS_REFERENCE_USUARIOS] FOREIGN KEY([CODUSU])
REFERENCES [dbo].[USUARIOS] ([CODUSU])
GO
ALTER TABLE [dbo].[ANUNCIOS] CHECK CONSTRAINT [FK_ANUNCIOS_REFERENCE_USUARIOS]
GO
/****** Object:  ForeignKey [FK_BOLAO_REFERENCE_JOGOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[BOLAO]  WITH CHECK ADD  CONSTRAINT [FK_BOLAO_REFERENCE_JOGOS] FOREIGN KEY([CODJOGO])
REFERENCES [dbo].[JOGOS] ([CODJOGO])
GO
ALTER TABLE [dbo].[BOLAO] CHECK CONSTRAINT [FK_BOLAO_REFERENCE_JOGOS]
GO
/****** Object:  ForeignKey [FK_BOLAO_REFERENCE_RODADA]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[BOLAO]  WITH CHECK ADD  CONSTRAINT [FK_BOLAO_REFERENCE_RODADA] FOREIGN KEY([CODRODADA])
REFERENCES [dbo].[RODADA] ([CODRODADA])
GO
ALTER TABLE [dbo].[BOLAO] CHECK CONSTRAINT [FK_BOLAO_REFERENCE_RODADA]
GO
/****** Object:  ForeignKey [FK_BOLAO_REFERENCE_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[BOLAO]  WITH CHECK ADD  CONSTRAINT [FK_BOLAO_REFERENCE_USUARIOS] FOREIGN KEY([CODUSU])
REFERENCES [dbo].[USUARIOS] ([CODUSU])
GO
ALTER TABLE [dbo].[BOLAO] CHECK CONSTRAINT [FK_BOLAO_REFERENCE_USUARIOS]
GO
/****** Object:  ForeignKey [FK_COMENTAR_REFERENCE_NOTICIAS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTAR_REFERENCE_NOTICIAS] FOREIGN KEY([CODNOT])
REFERENCES [dbo].[NOTICIAS] ([CODNOT])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_COMENTAR_REFERENCE_NOTICIAS]
GO
/****** Object:  ForeignKey [FK_COMENTAR_REFERENCE_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTAR_REFERENCE_USUARIOS] FOREIGN KEY([CODUSU])
REFERENCES [dbo].[USUARIOS] ([CODUSU])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_COMENTAR_REFERENCE_USUARIOS]
GO
/****** Object:  ForeignKey [FK_JOGOS_REFERENCE_CIDADE_S]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[JOGOS]  WITH CHECK ADD  CONSTRAINT [FK_JOGOS_REFERENCE_CIDADE_S] FOREIGN KEY([CODCID])
REFERENCES [dbo].[CIDADE_SEDE] ([CODCID])
GO
ALTER TABLE [dbo].[JOGOS] CHECK CONSTRAINT [FK_JOGOS_REFERENCE_CIDADE_S]
GO
/****** Object:  ForeignKey [FK_JOGOS_REFERENCE_ESTADO_J]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[JOGOS]  WITH CHECK ADD  CONSTRAINT [FK_JOGOS_REFERENCE_ESTADO_J] FOREIGN KEY([CODESTADO])
REFERENCES [dbo].[ESTADO_JOGOS] ([CODESTADO])
GO
ALTER TABLE [dbo].[JOGOS] CHECK CONSTRAINT [FK_JOGOS_REFERENCE_ESTADO_J]
GO
/****** Object:  ForeignKey [FK_JOGOS_REFERENCE_FASE_JOG]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[JOGOS]  WITH CHECK ADD  CONSTRAINT [FK_JOGOS_REFERENCE_FASE_JOG] FOREIGN KEY([CODFASE])
REFERENCES [dbo].[FASE_JOGOS] ([CODFASE])
GO
ALTER TABLE [dbo].[JOGOS] CHECK CONSTRAINT [FK_JOGOS_REFERENCE_FASE_JOG]
GO
/****** Object:  ForeignKey [FK_NOTICIAS_REFERENCE_CATEGORI]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[NOTICIAS]  WITH CHECK ADD  CONSTRAINT [FK_NOTICIAS_REFERENCE_CATEGORI] FOREIGN KEY([CODCAT])
REFERENCES [dbo].[CATEGORIAS] ([CODCAT])
GO
ALTER TABLE [dbo].[NOTICIAS] CHECK CONSTRAINT [FK_NOTICIAS_REFERENCE_CATEGORI]
GO
/****** Object:  ForeignKey [FK_NOTICIAS_REFERENCE_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[NOTICIAS]  WITH CHECK ADD  CONSTRAINT [FK_NOTICIAS_REFERENCE_USUARIOS] FOREIGN KEY([CODUSU])
REFERENCES [dbo].[USUARIOS] ([CODUSU])
GO
ALTER TABLE [dbo].[NOTICIAS] CHECK CONSTRAINT [FK_NOTICIAS_REFERENCE_USUARIOS]
GO
/****** Object:  ForeignKey [FK_POSTOSVE_REFERENCE_CIDADE_S]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[POSTOSVENDAS]  WITH CHECK ADD  CONSTRAINT [FK_POSTOSVE_REFERENCE_CIDADE_S] FOREIGN KEY([CODCID])
REFERENCES [dbo].[CIDADE_SEDE] ([CODCID])
GO
ALTER TABLE [dbo].[POSTOSVENDAS] CHECK CONSTRAINT [FK_POSTOSVE_REFERENCE_CIDADE_S]
GO
/****** Object:  ForeignKey [FK_RANKING_REFERENCE_PONTUACA]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[RANKING]  WITH CHECK ADD  CONSTRAINT [FK_RANKING_REFERENCE_PONTUACA] FOREIGN KEY([CODPONT])
REFERENCES [dbo].[PONTUACAO] ([CODPONT])
GO
ALTER TABLE [dbo].[RANKING] CHECK CONSTRAINT [FK_RANKING_REFERENCE_PONTUACA]
GO
/****** Object:  ForeignKey [FK_RANKING_REFERENCE_RODADA]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[RANKING]  WITH CHECK ADD  CONSTRAINT [FK_RANKING_REFERENCE_RODADA] FOREIGN KEY([CODRODADA])
REFERENCES [dbo].[RODADA] ([CODRODADA])
GO
ALTER TABLE [dbo].[RANKING] CHECK CONSTRAINT [FK_RANKING_REFERENCE_RODADA]
GO
/****** Object:  ForeignKey [FK_RANKING_REFERENCE_USUARIOS]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[RANKING]  WITH CHECK ADD  CONSTRAINT [FK_RANKING_REFERENCE_USUARIOS] FOREIGN KEY([CODUSU])
REFERENCES [dbo].[USUARIOS] ([CODUSU])
GO
ALTER TABLE [dbo].[RANKING] CHECK CONSTRAINT [FK_RANKING_REFERENCE_USUARIOS]
GO
/****** Object:  ForeignKey [FK_RODADA_REFERENCE_FASE_JOG]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[RODADA]  WITH CHECK ADD  CONSTRAINT [FK_RODADA_REFERENCE_FASE_JOG] FOREIGN KEY([CODFASE])
REFERENCES [dbo].[FASE_JOGOS] ([CODFASE])
GO
ALTER TABLE [dbo].[RODADA] CHECK CONSTRAINT [FK_RODADA_REFERENCE_FASE_JOG]
GO
/****** Object:  ForeignKey [FK_USUARIOS_REFERENCE_TIPO_USU]    Script Date: 04/15/2013 22:41:52 ******/
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_REFERENCE_TIPO_USU] FOREIGN KEY([CODTIPUSU])
REFERENCES [dbo].[TIPO_USUARIOS] ([CODTIPUSU])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_REFERENCE_TIPO_USU]
GO
